<div id="about-component">
    <div id="fish-column-1">
    </div>
    <div id="about-div">
        <div id="photo-bubble">
            <img src="../../../assets/images/carissa-ward.png" alt="Image of Carissa Ward">
        </div>
        <div id="about-me">
            <p>Carissa (she/her) is a software developer based in Vancouver, BC.</p>
            <p>Her passion for puzzle-solving drives her to find the solution to any programming bug.</p>
            <p>When she isn't coding, she enjoys spending time in nature, travelling, trying new foods, and spending time with her four pets, including her 18-year-old leopard gecko.</p>
        </div>
    </div>
    <div id="fish-column-2">
    </div>
</div>