#about-component {
    width: 100%;
    height: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 1rem;
    // border: 2px solid yellow;

    @media (min-width: 960px) {
        justify-content: space-between;
    }

    #fish-column-1, #fish-column-2 {
        display: none;

        @media (min-width: 960px) {
            display: block;
            width: 304px;
            height: 32rem;

            .seaweed-container {
                min-width: 12rem;
                max-width: 12rem;
                height: 32rem;
                position: relative;
                left: 3.5rem;
                border: 2px solid orange;

                .seaweed-plant {
                    height: 35rem;
                    width: 12rem;
                    position: relative;
                    overflow: hidden;
                    border: 2px solid yellow;

                    .leaf {
                        position: relative;
                        width: 1.5rem;
                        height: 1rem;
                    }
                }

                #seaweed-plant-1 {

                    .oval-1,
                    .oval-2 {

                    }

                    .oval-1 {

                    }

                    .oval-2 {

                    }

                    
                }

                #seaweed-plant-2 {

                }

                #seaweed-plant-3 {

                }
            }
        }
    }

    #about-div {
        padding-top: 5rem;

        #photo-bubble {
            height: 18rem;
            width: 18rem;
            background-image: radial-gradient(circle, rgba(255,255,255,0.2) 25%, rgba(17,63,143,1) 100%);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
    
            img {
                height: 18rem;
                width: 18rem;
                border-radius: 50%;
                object-fit: cover;
                z-index: -1;
            }
        }
    
        #about-me {
            margin-top: 1rem;
            margin-bottom: 1.5rem;
            width: 18rem;
            transition: 0.2s;
    
            @media (min-width: 384px) {
                width: 22rem;
            }
        }

        #about-me-links {
            width: 18rem;
            height: 6.25rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin: 0 auto;

            @media (min-width: 384px) {
                flex-direction: row;
                width: 22rem;
                align-items: flex-start;
            }

            button {
                width: 5rem;
                height: 1.75rem;
                border-radius: 0.875rem;
                background-color: #efc7c2;
                border: 2px solid #f49097;
                color: #0f1132;
                cursor: pointer;

                &:hover {
                    border: 2px solid #0f1132;
                }
            }
        }
    }
}