<div *ngIf="project" id="project-detail-div">
    <div class="project-details">
        <button type="button" (click)="goBack()" class="go-back-button">Go Back</button>
        <div class="details-title-category-tags">
            <h2>Details for {{ project.title | uppercase }}</h2>
            <div class="details-category-tags">
                <p *ngIf="project.category" class="category-name">Category: {{ project.category.name }}</p>
                <p *ngIf="project.tags.length > 0" class="tag-names">Tags:
                    <ng-container *ngFor="let tag of project.tags; let last = last">{{ tag.name }}{{ !last ? ', ' : '' }}</ng-container>
                </p>
            </div>
        </div>
        <p>{{ project.body }}</p>
        <button *ngIf="project.url" (click)="navigateToUrl(project.url)" class="link-to-project-button">Link to Project</button>
    </div>
    <!-- Display images -->
    <div *ngIf="project.images && project.images.length > 0" class="image-container">
        <img *ngFor="let image of project.images" [src]="'/assets/images/' + image" [alt]="'Image from ' + project.title" />
    </div>
    <!-- Display code snippet -->
    <div *ngIf="project.code_snippet" class="code-snippet-div">
        <pre>
            <code>{{ project.code_snippet }}</code>
        </pre>
    </div>
</div>
