h4 {
    margin: 0.5rem auto;
}

#tag-list {
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    width: 18rem;
    
    @media (min-width: 400px) {
        grid-template-columns: repeat(4, 6rem);
        width: 24rem;
    }

    @media (min-width: 500px) {
        grid-template-columns: repeat(5, 6rem);
        width: 30rem;
    }
    
    @media (min-width: 640px) {
        grid-template-columns: repeat(3, 6rem);
        width: 18rem;
    }

    @media (min-width: 740px) {
        grid-template-columns: repeat(4, 6rem);
        width: 24rem;
    }

    @media (min-width: 840px) {
        grid-template-columns: repeat(5, 6rem);
        width: 30rem;
    }

    @media (min-width: 940px) {
        grid-template-columns: repeat(6, 6rem);
        width: 36rem;
    }

    @media(min-width: 1040px) {
        grid-template-columns: repeat(7, 6rem);
        width: 42rem;
    }

    @media(min-width: 1140px) {
        grid-template-columns: repeat(8, 6rem);
        width: 48rem;
    }

    .tag-filters {
        border: 2px solid transparent;
        border-radius: 1rem;
        padding: 3px;
        cursor: pointer;
        width: 4.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.25rem;
        margin-left: 0.5rem;

        &.active {
            border-color: #f49097;
        }
    }
}