h4 {
    margin: 0.5rem auto;
}

#category-list {
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    width: 100%;

    .category-filters {
        border: 2px solid transparent;
        border-radius: 1rem;
        padding: 3px;
        cursor: pointer;
        width: 4.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.25rem;
        margin-left: 0.5rem;


        &.active {
            border-color: #f49097;
        }
    }
}