<section id="all-projects">
    <div 
        *ngFor="let project of projects | projectFilter : tagFilter; let i = index; trackBy: trackByFn"
        [class.hidden]="(categoryFilter && project.category?.id !== categoryFilter.id)"

        id="project-div"
    >
        <h2>{{ project.title | uppercase }}</h2>
        <p>{{ project.excerpt }}</p>
        <button
            (click)="setSelectedProject(project)"
        >
            More Info
        </button>
        <p *ngIf="project.category" class="category-name">Category: <a (click)="setCategoryFilter(project.category)">{{ project.category.name }}</a></p>
        <p *ngIf="project.tags.length > 0" class="tag-names">Tags:
            <ng-container *ngFor="let tag of project.tags; let last = last">
                <a (click)="setTagFilter(tag)">{{ tag.name }}{{ !last ? ', ' : '' }}</a>
            </ng-container>
        </p>
    </div>
</section>
