#project-div {
    padding: 1rem;

    &.hidden {
        display: none;
    }

    button {
        cursor: pointer;
    }

    .category-name, .tag-names {
        font-size: 12px;
        cursor: pointer;
    }
}