#all-projects {
    display: grid;

    @media (min-width: 540px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 960px) {
        grid-template-columns: repeat(3, 1fr);
    }

    #project-div {
        padding: 0.5rem;
    
        &.hidden {
            display: none;
        }
    
        button {
            cursor: pointer;
        }
    
        .category-name, .tag-names {
            font-size: 12px;
            cursor: pointer;
        }
    }
}