<div class="fish-2-container">
    <div class="dorsal-fin">
        <div class="dorsal-fin-segment"></div>
        <div class="dorsal-fin-segment"></div>
        <div class="dorsal-fin-segment"></div>
        <div class="dorsal-fin-segment"></div>
        <div class="dorsal-fin-segment"></div>
        <div class="dorsal-fin-segment"></div>
        <div class="dorsal-fin-segment"></div>
        <div class="dorsal-fin-segment"></div>
        <div class="dorsal-fin-segment"></div>
        <div class="dorsal-fin-segment"></div>
    </div>
    <div class="pelvic-fin">
        <div class="pelvic-fin-segment"></div>
        <div class="pelvic-fin-segment"></div>
        <div class="pelvic-fin-segment"></div>
        <div class="pelvic-fin-segment"></div>
        <div class="pelvic-fin-segment"></div>
    </div>
    <div class="caudal-fin"></div>
    <div class="fish-body">
        <div class="fish-mouth"></div>
        <div class="fish-eye">
            <div class="fish-pupil"></div>
        </div>
        <div class="pectoral-fin">
            <div class="pectoral-fin-divider"></div>
        </div>
        <div class="all-scales-A">
            <div class="scale-column-A" id="scale-column-A-1">
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
            </div>
            <div class="scale-column-A" id="scale-column-A-2">
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
            </div>
            <div class="scale-column-A" id="scale-column-A-3">
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
            </div>
            <div class="scale-column-A" id="scale-column-A-4">
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
            </div>
            <div class="scale-column-A" id="scale-column-A-5">
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
            </div>
            <div class="scale-column-A" id="scale-column-A-6">
                <div class="scale"></div>
            </div>
        </div>
        <div class="scale-covers-A">
            <div class="scale-cover-A-column" id="scale-cover-A-column-1">
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
            </div>
            <div class="scale-cover-A-column" id="scale-cover-A-column-2">
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
            </div>
            <div class="scale-cover-A-column" id="scale-cover-A-column-3">
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
            </div>
            <div class="scale-cover-A-column" id="scale-cover-A-column-4">
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
            </div>
            <div class="scale-cover-A-column" id="scale-cover-A-column-5">
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
            </div>
            <div class="scale-cover-A-column" id="scale-cover-A-column-6">
                <div class="scale-cover"></div>
            </div>
        </div>
        <div class="all-scales-B">
            <div class="scale-column-B" id="scale-column-B-1">
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
            </div>
            <div class="scale-column-B" id="scale-column-B-2">
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
            </div>
            <div class="scale-column-B" id="scale-column-B-3">
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
            </div>
            <div class="scale-column-B" id="scale-column-B-4">
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
                <div class="scale"></div>
            </div>
            <div class="scale-column-B" id="scale-column-B-5">
                <div class="scale"></div>
                <div class="scale"></div>
            </div>
        </div>
        <div class="scale-covers-B">
            <div class="scale-cover-B-column" id="scale-cover-B-column-1">
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
            </div>
            <div class="scale-cover-B-column" id="scale-cover-B-column-2">
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
            </div>
            <div class="scale-cover-B-column" id="scale-cover-B-column-3">
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
            </div>
            <div class="scale-cover-B-column" id="scale-cover-B-column-4">
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
            </div>
            <div class="scale-cover-B-column" id="scale-cover-B-column-5">
                <div class="scale-cover"></div>
                <div class="scale-cover"></div>
            </div>
        </div>
    </div>
</div>
