@use '../fish-2/fish-2-variables' as *;

.home-fish-1-container {
    width: 12rem;
    height: 10rem;
    margin: 6rem auto;
    padding-left: 2.5rem;
    z-index: 2;
    display: block;

    .fish-body {
        width: 10rem;
        height: 5rem;
        background-color: $primary-color;
        border-radius: 50%;
        position: relative;
        top: 2.5rem;
        border: 2px solid $primary-color;
        z-index: 1;

        .all-scales-A {
            width: 7rem;
            height: 5rem;
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            right: 1rem;

            .scale-column-A {
                width: 1rem;
                height: 5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            #scale-column-A-1 {
                z-index: 21;
            }

            #scale-column-A-2 {
                z-index: 17;
            }

            #scale-column-A-3 {
                z-index: 13;
            }

            #scale-column-A-4 {
                z-index: 9;
            }

            #scale-column-A-5 {
                z-index: 5;
            }

            #scale-column-A-6 {
                z-index: 1;
            }
        }

        .scale-covers-A {
            width: 7rem;
            height: 5rem;
            position: relative;
            bottom: 5rem;
            right: 0.45rem;

            .scale-cover-A-column {
                width: 1rem;
                height: 5rem;
                position: relative;
            }

            #scale-cover-A-column-1 {
                z-index: 22;
                left: 6rem;
            }

            #scale-cover-A-column-2 {
                z-index: 18;
                left: 5rem;
                bottom: 5rem;
            }

            #scale-cover-A-column-3 {
                z-index: 14;
                left: 4rem;
                bottom: 9rem;
            }

            #scale-cover-A-column-4 {
                z-index: 10;
                left: 3rem;
                bottom: 14rem;
            }

            #scale-cover-A-column-5 {
                z-index: 6;
                left: 2rem;
                bottom: 19rem;
            }

            #scale-cover-A-column-6 {
                z-index: 2;
                left: 1rem;
                bottom: 23rem;
            }
        }

        .all-scales-B {
            width: 6rem;
            height: 5rem;
            position: relative;
            bottom: 9.5rem;

            .scale-column-B {
                position: relative;
            }

            #scale-column-B-1 {
                z-index: 19;
                left: 4.5rem;
            }

            #scale-column-B-2 {
                z-index: 15;
                bottom: 4rem;
                left: 3.5rem;
            }

            #scale-column-B-3 {
                z-index: 11;
                bottom: 8rem;
                left: 2.5rem;
            }

            #scale-column-B-4 {
                z-index: 7;
                bottom: 12rem;
                left: 1.5rem;
            }

            #scale-column-B-5 {
                z-index: 3;
                bottom: 15rem;
                left: 0.5rem;
            }
        }

        .scale-covers-B {
            width: 6rem;
            height: 4rem;
            position: relative;
            bottom: 14.5rem;

            .scale-cover-B-column {
                position: relative;
            }

            #scale-cover-B-column-1 {
                z-index: 20;
                left: 5rem;
            }

            #scale-cover-B-column-2 {
                z-index: 16;
                left: 4rem;
                bottom: 4rem;
            }

            #scale-cover-B-column-3 {
                z-index: 12;
                left: 3rem;
                bottom: 8rem;
            }

            #scale-cover-B-column-4 {
                z-index: 8;
                left: 2rem;
                bottom: 12rem;
            }

            #scale-cover-B-column-5 {
                z-index: 4;
                left: 1rem;
                bottom: 15rem;
            }
        }

        .pectoral-fin {
            width: 0;
            height: 0;
            border-top: 1rem solid transparent;
            border-bottom: 1rem solid transparent;
            border-left: 1.5rem solid $secondary-color;
            z-index: 30;
            position: relative;
            bottom: 17.5rem;
            left: 5.625rem;

            .pectoral-fin-divider {
                width: 0;
                height: 0;
                border-top: 1rem solid transparent;
                border-bottom: 1rem solid transparent;
                border-left: 0.25rem solid $primary-color;
                position: relative;
                right: 1.5rem;
                bottom: 1rem;
            }
        }

        .fish-eye {
            width: 0.75rem;
            height: 0.75rem;
            background-color: white;
            border-radius: 50%;
            z-index: 30;
            position: relative;
            bottom: 20rem;
            left: 7.75rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .fish-pupil {
                width: 0.4rem;
                height: 0.4rem;
                background-color: $blackish;
                z-index: 31;
                border-radius: 50%;
                margin-left: 0.25rem;

                &:hover {
                    margin-left: 0;
                }
            }
        }

        .fish-mouth {
            width: 0;
            height: 0;
            z-index: 10;
            border-top: 0.25rem solid transparent;
            border-bottom: 0.25rem solid transparent;
            border-right: 0.5rem solid #113f8f;
            position: relative;
            bottom: 19.5rem;
            left: 9.65rem;
        }
    }

    .caudal-fin {
        width: 0;
        height: 0;
        border-top: 1.75rem solid transparent;
        border-bottom: 1.75rem solid transparent;
        border-left: 1.25rem solid $secondary-color;
        position: relative;
        z-index: 0;
        right: 0.25rem;
        bottom: 1.875rem;
    }

    .dorsal-fin {
        width: 4rem;
        height: 2rem;
        background-color: $secondary-color;
        transform: skew(25deg) rotate(-7.5deg);
        position: relative;
        bottom: 8.625rem;
        left: 2.75rem;
        z-index: 0;
        display: flex;

        .dorsal-fin-segment {
            width: 10%;
            height: 100%;

            &+.dorsal-fin-segment {
                border-left: 1px solid black;
            }
        }
    }

    .pelvic-fin {
        width: 2rem;
        height: 2rem;
        background-color: $secondary-color;
        transform: skew(-25deg) rotate(7.5deg);
        z-index: 0;
        position: relative;
        bottom: 2.75rem;
        left: 4rem;
        display: flex;

        .pelvic-fin-segment {
            width: 0.8rem;
            height: 100%;

            &+.pelvic-fin-segment {
                border-left: 1px solid black;
            }
        }
    }
}

.scale {
    height: 0.9rem;
    width: 0.9rem;
    background-color: $primary-color;
    border: 1px solid $darker-yellow;
    border-radius: 50%;
}

.scale-cover {
    height: 1rem;
    width: 0.5rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: $primary-color;
}