@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    display: flex;
    justify-content: center;
    font-family: 'Fira Sans', 'sans-serif';
}

main {
    display: flex;
    justify-content: space-between;
    font-family: 'Fira Sans', 'sans-serif';

    .projects {
        width: 90%;
        
        app-projects {
            display: grid;
            padding: 0 0.5rem;

            @media (min-width: 540px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width: 960px) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }

    #project {
        padding: 1rem;
    }

    .filters {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 7rem;
        border-left: 1px solid black;
        padding: 0 0.5rem;

        app-categories, app-tags {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        button {
            margin-top: 1rem;
        }
    }
}

footer {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
    font-family: 'Fira Sans', 'sans-serif';
}

