@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

#page-container {
    position: relative;
    min-height: 100vh;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Fira Sans', 'sans-serif';
        padding: 0.5rem 1rem;
        background-color: #eff4ff;
        color: #0f1132;
        position: relative;

        h1 {
            margin: 0;
            display: flex;
            flex-grow: 1;
        }

        .hamburger {
            background: none;
            border: none;
            cursor: pointer;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 2.25rem;
            height: 3rem;
            z-index: 10;
            position: absolute;
            right: 2rem;

            span {
                background-color: #0f1132;
                height: 0.25rem;
                width: 2.25rem;
                display: block;
                transition: all 0.3s ease;
            }

            &.open span:nth-child(1) {
                transform: rotate(45deg) translate(0.5rem, 0.5rem);
            }

            &.open span:nth-child(2) {
                opacity: 0;
            }

            &.open span:nth-child(3) {
                transform: rotate(-45deg) translate(0.5rem, -0.5rem);
            }

            @media (min-width: 720px) {
                display: none;
            }
        }

        nav {
            display: none;
            flex-grow: 1;
            position: absolute;
            top: 100%;
            right: 0;
            left: 0;
            background-color: #eff4ff;
            color: #0f1132;
            padding: 10px;
            z-index: 9;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                li {
                    a {
                        text-decoration: none;
                        color: #0f1132;
                        transition: background-color 0.3s ease;

                        &:hover {
                            color: #cccccc;
                        }
                    }
                }
            }

            &.open {
                display: flex;
                justify-content: center;
            }

            @media (min-width: 720px) {
                display: flex;
                width: 60%;
                position: relative;

                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    width: 100%;

                    li+li {
                        border-left: 1px solid #0f1132;
                        margin-left: 1rem;
                        padding-left: 1rem;
                    }
                }
            }
        }
    }

    main {
        font-family: 'Fira Sans', 'sans-serif';
        color: #eff4ff;

        #sky {
            height: 1.75rem;
            width: 100%;
            background-color: #eff4ff;
            position: absolute;
            top: 3.4rem;
            overflow-x: hidden;
        }

        #layer-1 {
            width: 300rem;
            display: flex;
            overflow-x: hidden;
            position: relative;
            animation: waveAnimation 3s linear infinite;
        }

        #layer-2 {
            width: 300rem;
            height: 3rem;
            display: flex;
            position: relative;
            bottom: 3rem;
            left: -1.5rem;
            overflow-x: hidden;
            animation: waveAnimation 4s linear infinite;
        }
    }

    footer {
        display: flex;
        height: 3.5rem;
        // border: 2px solid orange;
        color: #eff4ff;
        justify-content: flex-end;
        padding: 0 3rem;
        font-family: 'Fira Sans', 'sans-serif';
        position: sticky;
        bottom: 0;
        right: 0;
        z-index: 3;
    }
}