<header>
  <h1>{{ author }}'s {{ title }}</h1>
</header>
<main>
  <section class="projects" id="projects" *ngIf="!selectedProject">
    <app-projects
      [categoryFilter]="categoryFilter"
      (newCategoryFilterEvent)="setCategoryFilter($event)"
      [tagFilter]="tagFilter"
      (newTagFilterEvent)="setTagFilter($event)"
      (newSelectedProjectEvent)="setSelectedProject($event)"
    ></app-projects>
  </section>
  <section id="project" *ngIf="selectedProject">
    <button (click)="clearSelectedProject()">Back</button>
    <app-project [project]="selectedProject"></app-project>
  </section>
  <section class="filters">
    <h2>Filters</h2>
    <div id="categories">
      <app-categories
        [categoryFilter]="categoryFilter"
        (newCategoryFilterEvent)="setCategoryFilter($event)"
      ></app-categories>
    </div>
    <div id="tags">
      <app-tags
        [tagFilter]="tagFilter"
        (newTagFilterEvent)="setTagFilter($event)"
      ></app-tags>
    </div>
    <button (click)="clearFilters()">Clear Filters</button>
  </section>
</main>
<footer>
  <p>&copy; {{ year }} {{ author }}</p>
</footer>