body {
    overflow-x: hidden;
    margin: 0;
    background: rgb(163,245,238);
    background: linear-gradient(180deg, rgba(163,245,238,1) 0%, rgba(38,155,227,1) 33%);
    min-height: 100vh;
}

app-projects {
    width: 100%;
}